{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container" style="padding-top: 2vh">
    <div class="table">
        {% include 'patient_menu.html' %}
        <div class="row" style="padding-bottom: 1vh;">
            <div class="col-1">
                <div class="col btn btn-light">
                    <a class="bg-transparent text-decoration-none text-black"
                       href="{% url 'patients:patient_create' %}">
                        <img src="{% static "images/add_blue.png" %}" height="36" width="36" alt="">
                    </a>
                </div>
            </div>
            <div class="col-10">
                <form method="post" >
                    {% crispy form %}

                </form>

            </div>
        </div>

        <div class="row">
            <div class="col">

                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">{% trans "Имя и фамилия пациента" %}</th>
                                    <th scope="col">{% trans "Учебное заведение" %}</th>
                                    <th scope="col">{% trans "Домашний адрес" %}</th>
                                    <th scope="col">{% trans "Дата рождения" %}</th>
                                    <th scope="col">{% trans "Добавлен" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for patient in patient_list %}
                                <tr class="pointer" onclick="document.location = '{% url 'patients:patient_edit' patient.id %}';">
                                    <td scope="row" >
                                            {{ patient.fullname }}
                                    </td>
                                    <td >{{ patient.education_institution.name|default_if_none:'' }}</td>
                                    <td >{{ patient.etrap.name|default_if_none:'' }} {% if patient.etrap.name %}, {% endif %}
                                         {{ patient.city.name|default_if_none:'' }} {% if patient.city.name %}, {% endif %}
                                         {{ patient.address|default_if_none:'' }}</td>
                                    <td >{{ patient.date_birthday|date:'d-m-Y' }}</td>
                                    <td >{{ patient.created_at|date:'d-m-Y H:i' }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include 'pagination.html' %}
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>

{% endblock %}
